<form [formGroup]="UserForm">

    <div class="mb-3 ms-3 me-3">
        <label class="form-label">username</label>
        <input type="text" class="form-control" formControlName="txtUsername" >
        <span *ngIf="UserForm.controls['txtUsername'].touched && UserForm.hasError('required','txtUsername')">Please fill out the username</span>
    </div>


    <div class="mb-3 ms-3 me-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="txtPassword" >
        <span *ngIf="UserForm.controls['txtPassword'].touched && UserForm.hasError('required','txtPassword')">Please fill out the password</span>
    </div>


    <div class="mb-3 ms-3 me-3">
        <input type="button"  value="Save" class="btn btn-primary " (click)="Login()">
    </div>    
    
    </form>